#checkoutList{
    position: relative;    
    margin-top: 25px;
    margin-left: 50vw;
}

#checkoutList h2{
    transform: translate(-50%);
}


#checkoutButton {
    position: absolute;
    margin-top: 30px;
    transform: translate(-50%);
    margin-left: 50vw;
    z-index:10
}

#checkoutTable {
    transform: translate(-50%);
    width:350px;
    
}

table, th, td {
    text-align: left;
    border-collapse: collapse;
    padding: 10px;
    
    
  }

  

 